<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title - Web sample</title>
	<link href="~/css/lib.css" rel="stylesheet" asp-append-version="true" />
	@if (IsSectionDefined("style")) {
		@RenderSection("style")
	} else {
		<partial name="_PageCss" />
	}
</head>
<body>
	<header>
		<h1>
			@ViewBag.Title
			@if (!string.IsNullOrEmpty(ViewBag.Subtitle)) {
				<small>@ViewBag.Subtitle</small>
			}
		</h1>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
	</footer>
	<script src="~/js/lib.js" asp-append-version="true"></script>
	@if (IsSectionDefined("script")) {
		@RenderSection("script")
	} else {
		<partial name="_PageJs" />
	}
</body>
</html>
